.error-code-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  
  .error-description {
    margin-bottom: 10px;
  }
  
  .error-sample {
    color: #007bff;
  }
  
  .http-codes-description {
    font-weight: bold;
  }
  
  .http-codes-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .http-code-item {
    margin-bottom: 8px;
  }
  
  .http-code {
    font-weight: bold;
    margin-right: 5px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
}